.env
/debug
/miniaturas
/procesadas
/eval/__pycache__
source/Sistema-de-catalogacion-de-imagenes/__pycache__
source/Sistema-de-catalogacion-de-imagenes/api/__pycache__
manuales/
etiquetasSoftwareOverleaf/